.users {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
}


.user {
    margin: 10px;
    background-color: gray;
    margin: 24px 3px;
    width: 250px;
}

.user__avatar {
    height: 60px;
    width: 60px;
}

